PORT=3000
NODE_ENV=development
JWT_SECRET=fitness_ai_secret_key_dev_2024
JWT_EXPIRES_IN=7d
SUPABASE_URL=https://bwqnyjdwqnnztvnxialt.supabase.co
SUPABASE_KEY=sb_publishable_6MX3JZMw5M7282zl02FB7w_0YnjluCv
SIMULATE_WATCH_DATA=true
GROQ_API_KEY=insira_aqui_seu_groq_api_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=insira_aqui_seu_email_smtp
SMTP_PASS=insira_aqui_sua_senha_smtp
